{% load staticfiles %}
<!--<div class="nav-wrapper">-->
  <!--<a  href="{% url 'main' %}">-->
    <!--&lt;!&ndash;<img src="{% static 'img/chatterbot.png' %}" width="30" height="30" class="d-inline-block align-top" alt="ChatterBot">&ndash;&gt;-->
    <!--ChatBot-->
  <!--</a>-->
<!--</div>-->

<nav>
    <div class="nav-wrapper">
      <a href="href="{% url 'main' %}"" class="brand-logo"><i class="large material-icons">people</i>Virtual Chatting Portal</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a onclick="trainMe()">Train me</a></li>
        <!--<li><a href="badges.html">Components</a></li>-->
        <!--<li><a href="collapsible.html">JavaScript</a></li>-->
      </ul>
    </div>
  </nav>